.w3-theme {
    color: #000 !important;
    background-color: #ffc107 !important;
}

.w3-danger {
    color: #000 !important;
    background-color: #dc3545 !important;
}

.w3-code {
    border-left: 4px solid #ffc107;
}

.w3-text-IE {
    color: rgb(43, 48, 53) !important;
}

.w3-input-radio{
    color:#929693 ;
    padding-left: 10px;
}