.row a {
    text-decoration: none;
    cursor: default;
}
.row .card:hover {
    cursor: pointer;
    background-color: #e6f4f7;
}
.card-body {
    margin: 0px auto;
    padding: 0px;
}
.card-body .card-text {
    /* font-family: "Bungee Spice", sans-serif; */
    font-weight: 900;
    font-size: 30px;
}
.container-fluid.home .row .button-container {
    display: flex;
    justify-content: center;
}
.container-fluid.home .row {
    justify-content: center;
}
footer {
    background-color: rgb(43, 48, 53);
    width: 100% !important;
    position: fixed;
    bottom: 0;
    left: 0;
}

.title-text {
    font-weight: 900;
    font-size: 40px;
}

body {
    background-color: #b6c9cf;
}