body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #b6c9cf;
}
footer {
    margin-top: auto;
    background-color: rgb(43, 48, 53);
    width: 100% !important;
}

.row a {
    text-decoration: none;
    cursor: default;
}
.row .card:hover {
    cursor: pointer;
    background-color: #e6f4f7;
}
.card-body {
    margin: 0px auto;
    padding: 0px;
}
.card-body .card-text {
    font-weight: 900;
    font-size: 30px;
}

/* HOME */
.container-fluid.home {
    flex: 1;
    margin-bottom: 1rem;
}
.container-fluid.home .row .button-container {
    display: flex;
    justify-content: center;
}
#home .container-fluid.home .row {
    justify-content: center;
}
/* HOME */


/* PÁGINAS GERAL */
.title-text {
    font-weight: 900;
    font-size: 40px;
}

div.table-responsive #myTable .btn {
    padding: 2px 8px;
    float: right;
    margin: 0px 2px;
}
div.table-responsive #myTable {
    margin-bottom: 0px;
}
div.table-responsive #myTable a {
    color: inherit;
}
/* PÁGINAS GERAL */

.thead-yellow {
    --bs-table-color: black;
    --bs-table-bg: #ffc107;
    color: var(--bs-table-color);
}
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-yellow);
    --bs-tooltip-color: var(--bs-black);
    color: var(--bs-tooltip-color);
    background-color: var(--bs-table-bg);
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #ffc107 !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(255, 193, 7, .5) !important;
}