.row a {
    text-decoration: none;
    cursor: default;
}
.row .card:hover {
    cursor: pointer;
    background-color: #e6f4f7;
}
.card-body {
    margin: 0px auto;
    padding: 0px;
}
.card-body .card-text {
    font-weight: 900;
    font-size: 30px;
}
.container-fluid .row .button-container {
    display: flex;
    justify-content: center;
}
.container-fluid .row {
    justify-content: center;
}
footer{
    background-color: rgb(43, 48, 53);
    width: 100%;
    position: fixed;
    /* position: absolute; */
    bottom: 0;
}